body {
  display: grid;
  grid-template-columns: 1fr 12em 40em 1fr;
  grid-template-rows: 1fr 20em 1fr;
  grid-template-areas:
    ". . . ."
    ". sidebar main ."
    ". . . .";
  grid-row-gap: 1em;
  grid-column-gap: 1em;

  height: 95vh;
}
aside {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: auto 2em;
  grid-row-gap: 0.2em
}
section {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr 3em;
  grid-auto-columns: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-areas:
    "question answer buttons"
    "solution answer buttons"
    "info answer buttons";
}
#question {
  grid-area: question;
}
#info {
  grid-area: info;
}
#solution {
  grid-area: solution;
}
#userAnswer{
  grid-area: answer;
}
#remaining{
  grid-area: remaining;
}
#controls {
  grid-area: buttons;
  display: grid;
  grid-template-rows: 3em 1fr 2em 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "remaining remaining"
    ". ."
    "answer answer"
    "correct incorrect";
  grid-gap: 0.2em;
}
#answer {
  grid-area: answer;
}
#correct {
  grid-area: correct;
}
#incorrect {
  grid-area: incorrect;
}