body {
  background: #55AFCC;
}
p {
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #F0F0F0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
button {
  background: #F0F0F0;
  border-radius: 0.2em;
  border: 1px solid grey;
}
button:hover:enabled {
  box-shadow: 0px 0px 4px blue;
  border: 1px solid blue;
}
button:disabled {
  color: grey;
  border: 1px solid lightgray
}
.button {
  color: black;
  text-decoration: none;
  display: block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #F0F0F0;
  border-radius: 0.2em;
  border: 1px solid grey;
}
.button:hover {
  box-shadow: 0px 0px 4px blue;
  border: 1px solid blue;
}
input {
  border-radius: 0.2em;
  border: 1px solid grey;
}
input:hover:enabled {
  box-shadow: 0px 0px 4px blue;
  border: 1px solid blue;
}
input:disabled {
  color: grey;
  border: 1px solid lightgray
}
textarea {
  resize: none;
}
.floating {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1em;
  background: #FFFFFF;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
}